/*=======================================*/
html {
    background-color: #f4f7f9;
}

body {
    background: #f4f7f9 !important;
}

a:hover {
    text-decoration: none !important;
}

span:focus, button:focus, div:focus, a:focus, img:focus {
    outline: none !important;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;
    color: #263238;
}

.primary-btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
}

.primary-btn {
    width: auto;
    height: auto;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #63adf2;
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.5);
    transition: all .5s;
}

.primary-btn:hover {
    background-color: #4791d5;/*#63adf2;*/
    opacity:.7;
    box-shadow: 0 2px 20px 0 rgba(98, 172, 242, 0.5);
}

.primary-btn:active {
    opacity:1;
    background-color: #4791d5;
    box-shadow: 0 2px 20px 0 rgba(98, 172, 242, 0.5);
}

.primary-btn:disabled {
    width: auto;
    height: auto;
    opacity: .5;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #63adf2;
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.5);
}

.primary-btn:focus, .secondary-btn:focus {
    outline: none;
}

.secondary-btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #63adf2;
}

.secondary-btn {
    width: auto;
    height: auto;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #e5eef7;
    transition: all .5s;
}

.secondary-btn:hover {
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.3);
}

.secondary-btn:active {
    background-color: #d5e6f8;
}

.secondary-btn:disabled {
    background-color: #e5eef7;
}

/*=======================================*/
.drop-ddown-image-wrapper {
    /*width: 30%;
    position: absolute;
    top: -35px;
    right: 36%;*/
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.drag-n-drop-first-p {
/*    width: 205px;
    height: 36px;*/
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: center;
    color: #aab9c1;
    position: relative;
    bottom: 40px;

}

.drag-n-drop-second-p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: #aab9c1;
    position: relative;
    bottom: 49px;
}
.drag-n-drop-third-p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: #aab9c1;
    position: relative;
    bottom: 40px;
}

.replace-img-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/*=======================================*/

.icon-wrapper {
    display: inline-block;
    width: 54px;
    height: 54px;
    background-color: #f4f7f9;
    border-radius: 30px;
    position: relative
}

.icon-wrapper-new {
    display: inline-block;
    width: 54px !important;
    height: 54px !important;
    background-color: #f4f7f9;
    border-radius: 30px !important;
    top: 0 !important;
}

.icon-sub-wrapper {
    background: transparent !important;
}

.icon-wrapper-active {
    background-color: #e5eef7;
}

.icon-wrapper-btn {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.4);
}

.icon-img {
    position: absolute;
    top: 12px;
    right: 16px;
}

.img-sub-container img {
    vertical-align: middle;
    display: inline-block;
}

/*.large-img-container {
    width: 378px;
    height: 278px;
}*/
/*.middle-img-container{
    width: 282px;
    height: 282px;
}
.small-img-container {
    width: 136px;
    height: 136px;
}*/

/*=======================================*/
/*a:hover {
    text-decoration: none;
}*/

/*.primary-btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
}*/

/*.primary-btn {
    width: auto;
    height: auto;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #63adf2;
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.5);
    transition: all .5s;
}

.primary-btn:hover {
    opacity: .5;
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.5);
}

/*.primary-btn:active {
    background-color: #4791d5;
    box-shadow: 0 2px 20px 0 rgba(98, 172, 242, 0.5);
}*/

/*.primary-btn:disabled {
    width: auto;
    height: auto;
    opacity: .5;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #63adf2;
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.5);
}*/

/*.primary-btn:focus, .secondary-btn:focus {
    outline: none;
}*/

/*.secondary-btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #63adf2;
}*/

/*.secondary-btn {
    width: auto;
    height: auto;
    padding: 14px 47px;
    border: transparent;
    border-radius: 50px;
    background-color: #e5eef7;
    transition: all .5s;
}*/

/*.secondary-btn:hover {
    box-shadow: 0 2px 10px 0 rgba(98, 172, 242, 0.3);
}*/

/*.secondary-btn:active {
    background-color: #d5e6f8;
}*/

/*.secondary-btn:disabled {
    background-color: #e5eef7;
}*/

/*=======================================*/

.custom-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;
    color: #263238;
}

md-switch.md-checked .md-thumb {
    background-color: #63adf2;
    box-shadow: 0 2px 5px 0 rgba(98, 172, 242, 0.5);
}

md-switch.md-checked .md-bar, md-switch:not(.md-dragging) .md-bar {
    top: 7px;
    height: 10px;
}

md-switch:not(.md-dragging) .md-bar {
    background-color: #e6ecef;

}

md-switch.md-checked .md-bar {
    background-color: rgba(99, 173, 242, 0.5);

}

md-switch .md-thumb {
    background-color: #e6ecef;
    box-shadow: 0 2px 5px 0 rgba(170, 185, 193, 0.5);
}

md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #aab9c1;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-bottom: solid 1px #63adf2;
}

md-chips.md-default-theme .md-chips.md-focused, md-chips .md-chips.md-focused {
    border-bottom: solid 1px #63adf2 !important;
    box-shadow: none;
}

md-chips.md-default-theme md-chip.md-focused, md-chips md-chip.md-focused {
    background-color: #f4f7f9;
    color: #263238;
}

md-input-container .md-input {
    padding-right: 50px;
    border-bottom: solid 1px #aab9c1;
}

md-input-container .md-input.ng-invalid.ng-dirty, md-input-container.md-input-focused .md-input {
    border-bottom: solid 1px #fe5d76;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

/*.show-popover-button:before{
    content: '';
    color: #686a6d;

    padding-left: 4px;
    padding-right: 4px;
    border-radius: 22px;
    background-image: url(../images/question.svg);
}*/
.show-popover-button {
    border: none;
    margin-right: 5px;
    width: 22px;
    height: 21.9px;
    background: transparent url(../images/icons/question.svg) no-repeat;
}

md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input {
    border-color: #fe5d76;
}

md-input-container.md-default-theme.md-input-invalid ng-message,
md-input-container.md-input-invalid ng-message,
md-input-container.md-default-theme.md-input-invalid data-ng-message,
md-input-container.md-input-invalid data-ng-message,
md-input-container.md-default-theme.md-input-invalid x-ng-message,
md-input-container.md-input-invalid x-ng-message,
md-input-container.md-default-theme.md-input-invalid [ng-message],
md-input-container.md-input-invalid [ng-message],
md-input-container.md-default-theme.md-input-invalid [data-ng-message],
md-input-container.md-input-invalid [data-ng-message],
md-input-container.md-default-theme.md-input-invalid [x-ng-message],
md-input-container.md-input-invalid [x-ng-message],
md-input-container.md-default-theme.md-input-invalid [ng-message-exp],
md-input-container.md-input-invalid [ng-message-exp],
md-input-container.md-default-theme.md-input-invalid [data-ng-message-exp],
md-input-container.md-input-invalid [data-ng-message-exp],
md-input-container.md-default-theme.md-input-invalid [x-ng-message-exp],
md-input-container.md-input-invalid [x-ng-message-exp],
md-input-container.md-default-theme.md-input-invalid .md-char-counter,
md-input-container.md-input-invalid .md-char-counter {
    color: #fe5d76;
}

.md-chips .md-chip-input-container input:not([type]),
.md-chips .md-chip-input-container input[type=email],
.md-chips .md-chip-input-container input[type=number],
.md-chips .md-chip-input-container input[type=tel],
.md-chips .md-chip-input-container input[type=text],
.md-chips .md-chip-input-container input[type=url] {
    padding-top: 5px;
}

.material-select-wrapper md-input-container.md-block {
    padding-right: 0;
}

md-input-container label:not(.md-container-ignore).md-required:after {
    content: '' !important;
}

.md-char-counter {
    color: #aab9c1;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #63adf2
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #63adf2
}

md-radio-button .md-off, md-radio-button .md-on {
    border: solid 1px #aab9c1;
}

md-radio-button.visibility-radio-buttons.ng-scope {
    color: #aab9c1;
}

md-radio-button.visibility-radio-buttons.ng-scope.md-checked {
    color: #263238;
}

md-select:not([disabled]).ng-invalid.ng-touched .md-select-value {
    border-bottom: solid 1px #fe5d76;
}

/*========chips=========*/
.md-chips md-chip {
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    margin-top: 15px;
    padding-left: 9px;
    background: #e6ecef;
    color: #263238;
    font-family: 'Poppins', sans-serif;
}

/*=======================================*/
/*Main Layout*/
.oval-3 {
    width: 54px;
    height: 54px;
    border: solid 1px #aab9c1;
    border-radius: 50%;
}

.user-name {
    width: 98px;
    height: 16px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.md-chips.md-removable md-chip .md-chip-content {
    padding-right: 11px;
}

.md-chips md-chip .md-chip-remove-container {
    right: 4px;
    bottom: 3px;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
    border: none;
    box-shadow: 0 1px #aab9c1;
}

md-select:not([disabled]).ng-invalid.ng-touched .md-select-value {
    border: none;
}

md-input-container:not(.md-input-has-value) md-select.ng-required:not(.md-no-asterisk) .md-select-value span:first-child:after, md-input-container:not(.md-input-has-value) md-select[required]:not(.md-no-asterisk) .md-select-value span:first-child:after {
    display: none;
}

.chip-remove-img {
    width: 16px;
    height: 16px;
}

/*=========drag-and-drop===============*/
div.image-upload-container {
    top: 0px;
}

.image-upload-container-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-upload-dragover {
    border: 5px dashed blue;
}

.image-upload-container .button-right {
    position: absolute;
    left: 22px;
    bottom: 7px;
}

.image-upload-container .button-left {
    position: absolute;
    right: 22px;
    bottom: 7px;
}

.image-upload-container-button-remove {
    text-shadow: 0 0 3px #FEFFFD, 0 0 5px #ff563f;
    background: none;
    border: none;
    -webkit-transition: 0.3s, linear; /* Safari */
    transition: 0.3s, linear;
}

.image-upload-container-button-replace {
    text-shadow: 0 0 3px #FEFFFD, 0 0 5px #0000FF;
    background: none;
    border: none;
    -webkit-transition: 0.3s, linear; /* Safari */
    transition: 0.3s, linear;
}

.image-upload-container-button-remove:hover, .image-upload-container-button-replace:hover {
    font-size: 15px;
}

.image-upload-container:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.4);
}

.drag-and-drop-column {
    width: 40% !important;
}

.img-cover-label {
    position: relative;
    bottom: 4px;
    font-weight: 500;
}

.img-container {
    position: relative;
    /*width: 282px;
    height: 282px;*/
    width: 100%;
    height: 100%;
    border-radius: 2px;
    top: -28px;
    text-align: center;
    border: 1px dashed #63adf2;
}

.img-container {
    transition: all .25s;
}

.img-container:hover {
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.4);
}

.img-sub-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Align center inline elements */
    font: 0/0 a;
    background: #e5eef7
}

.img-sub-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-sub-container img {
    vertical-align: middle;
    display: inline-block;
}

.img-drag-drop-container {
    background-color: #f4f7f9;
}

.large-img-size {
    max-width: 376px;
    max-height: 276px;
    object-fit: contain;
    width: 100%;
}

.middle-img-size {
    max-width: 279px;
    max-height: 279px;
    width: 100%;
    object-fit: contain;
}

.small-img-size {
    max-width: 133px;
    max-height: 133px;
}

.large-img-container {
    max-width: 378px;
    max-height: 278px;
}

.middle-img-container {
    /*width: 282px;*/
    height: 282px;
    width: 100%;
}

.small-img-container {
    width: 136px;
    height: 136px;
}

.uploaded-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 29px;
    padding-bottom: 5px;
}

.quiz-image-col {
    max-width: 279px;
}

.uploaded-background {
    height: 65%;
    width: 30%;
}

.label-with-hint {
    position: absolute;
    left: 30px !important;
}

.input-with-hint {
    padding-left: 30px !important;
}

.md-input-container.md-input-invalid md-select.md-default-theme .md-select-value, md-input-container.md-input-invalid md-select .md-select-value {
    border: none;
    line-height: 1;
    text-align: left;
    color: #263238;
}

.container-fluid {
    padding-top: 10px;
}

.logo {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.47);
}

.logo img {
    margin: 2px auto;
    margin-left: 2%;
    /*width: 183.6px;*/
    height: 45px;
}

/*===============Circle buttons===================*/

.quiz-action-copy img, .quiz-action-copy img:after {
    content: url("../images/icons/copy.svg");
}

.quiz-action-copy:hover img,.quiz-action-copy:hover img:after {
    content: url("../images/icons/copy-hover.svg");
}

.quiz-action-edit img, .quiz-action-edit img:after, .quiz-questions-action-edit img, .quiz-questions-action-edit img:after{
    content: url("../images/icons/edit.svg");
}

.quiz-action-edit:hover img, .quiz-action-edit:hover img:after, .quiz-questions-action-edit:hover img, .quiz-questions-action-edit:hover img:after {
    content: url("../images/icons/edit-hover.svg");
}

.quiz-action-remove img, .quiz-action-remove img:after {
    content: url("../images/icons/delete.svg");

}

.quiz-action-remove:hover img, .quiz-action-remove:hover img:after {
    content: url("../images/icons/delete-hover.svg");
}

div.img-container:active,
div.img-container:active,
div.img-container:active {
    background-color: #e5eef7;
}

.favourites .img-container {
    box-shadow: none;
}

.favourites .img-container:hover {
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.4);
}

.favourites .img-container:active {
    box-shadow: none;
}

.quiz-visibility .img-container {
    box-shadow: none;
}

.quiz-visibility .img-container:active {
    box-shadow: none;
}

.quiz-visibility .img-container:hover {
    box-shadow: 0 0 10px 0 rgba(170, 185, 193, 0.4);
}

.quiz-visibility .img-container:active {
    box-shadow: none;
    background-color: #e5eef7;
}

.quiz-visibility .icon-wrapper-active.img-container:hover {
    box-shadow: 0 0 10px 0 rgba(98, 172, 242, 0.4);
}

.quiz-visibility .icon-wrapper-active.img-container:active {
    box-shadow: none;
    background-color: #e5eef7;
}

.btn-link:focus, .btn-link:active {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-link:active {
    color: #278ae6;
    text-decoration: none;
}

/*===============Scroll bar==================*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background: #aab9c1;
}

md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #63adf2;
}

md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon {
    border: solid 1px #aab9c1;
}

md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    border: solid 1px #aab9c1;
}

md-checkbox.md-checked .md-icon:after {
    left: 5.66667px;
    top: 1.22222px;
}