<link rel="stylesheet" href="../public/css/home.css">
<div class="container profile">
    <nav class="navbar navbar-right main-screen-profile">
        <div class="container-fluid">
            <img src="/public/images/icons/frank-young.jpg" class="oval-3">
            <span class="user-name">Frank Young </span>
        </div>
    </nav>
</div>

<div class="start-quiz" ng-cloak>
    <div class='buttons_column'>
        <div class="row">
            <div class="base-copy block-container">
                <a href="/quiz">
                    <img src="/public/images/icons/quiz-blue.svg">
                    <span>Create quiz</span>
                </a>
            </div>
            <div class="base-copy block-container">
                <a href="/survey">
                    <img src="/public/images/icons/surway-blue.svg">
                    <span>Create survey</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="base-copy-3 block-container">
                <a class="a-button" href="/quizzes?active=1">
                    <img src="/public/images/icons/assigned-quizes.svg">
                    <span>Assigned Quizzes </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="base-copy-3 block-container">
                <a class="a-button" href="/quizzes?active=0">
                    <img src="/public/images/icons/my-quizes.svg">
                    <span> My Quizzes </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="base-copy-3 block-container">
                <a class="a-button" href="/quizzes?active=3">
                    <img src="/public/images/icons/public-quizes.svg">
                    <span> Public Quizzes</span>
                </a>
            </div>
        </div>
    </div>
</div>